<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Welcome <%=players.name%></h1>
        
        <form>
        Name: <%=players.name%><br/>
		<!--  NOTE: the form is pre-populated with values for the server-->
		Username: <%=players.username%><br/>
		Password: <%=players.password%><br/>

        <br/>
        <nav>
            <a href="../edit.ejs">Edit</a> 

        </nav>
        <form action="../profile:<%=index%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
        </form>
	
        </form>

</body>
</html>